<form class=edit-post method=post action='/posts/<%= post.try(:id) %>'>
  <% if post %>
    <input type=hidden name=_method value=put>
  <% end %>
  <% if parent %>
    <input type=hidden name=parent_id value='<%= parent.id %>'>
  <% end %>
  <textarea
    class=edit-post-content
    name=content
    <% if parent %>
      placeholder='reply to <%= parent.user.nick %>'
    <% else %>
      placeholder='tell me your foolish lies'
    <% end %>
  ><%= post.try(:content) %></textarea>
  <div class=edit-post-toolbar>
    <input type=submit class=edit-post-submit value=<%= if parent then 'reply' else 'save' end %>>
  </div>
</form>