<!doctype html>
<html>
  <head>
    <title>rps</title>
  </head>
  <body>
    <form action="/games/<%= game.id %>/player_1_name" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="text" name="name" value="<%= game.player_1.try(:name) %>">
      <input type="submit">
    </form>
    <% unless game.player_1_throw %>
      <% tokens.each do |token| %>
        <form action="/games/<%= game.id %>/player_1_throw" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="id" value="<%= token.id %>">
          <input type="submit" value="<%= token.name %>">
        </form>      
      <% end %>
    <% end %>

    <form action="/games/<%= game.id %>/player_2_name" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="text" name="name" value="<%= game.player_2.try(:name) %>">
      <input type="submit">
    </form>
    <% unless game.player_2_throw %>
      <% tokens.each do |token| %>
        <form action="/games/<%= game.id %>/player_2_throw" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="id" value="<%= token.id %>">
          <input type="submit" value="<%= token.name %>">
        </form>      
      <% end %>
    <% end %>

    <% if game.complete? %>
      <% if game.winner %>
        <%= game.winner.name %> wins!
      <% else %>
        draw.
      <% end %>
    <% end %>
  </body>
</html>