<dl>
  <% things.each do |thing| %>
    <dt data-category="<%= thing.category.title %>">
      <a href="/things/<%= thing.id %>"><%= thing.title %></a>
    </dt>
    <dd>
      <div class="description">
        <%= thing.description %>
      </div>
      <ul class="tags">
        <% thing.tags.each do |tag| %>
          <li>
            <%= tag.name %>
            <form action="/things/<%= thing.id %>/tags/<%= tag.id %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="delete">
            </form>
          </li>
        <% end %>
      </ul>
    </dd>
  <% end %>
</dl>